{% extends 'base.html' %} {% block Index %} {% load staticfiles %}

<section class="banner">
	<div id="index-banner" >
		<div class="section no-pad-bot">
			<div class="container">
				<br>
					<br>
						<h1 class="header center white-text">Куда Дальше?</h1>
						<div class="row center" id="wheretogo">
							<h5 class="col s12 white-text">Выбери свой путь в жизни</h5>
							<button class="waves-effect waves-light btn btn-large  red" id="showSteps">Поехали</button>
						</div>
						<br>
							<br>
							</div>
							<main class="menuSteps">
								<div class="row">
									<div class="col m3 s12">
										<div class="card card-banner-color">
											<div class="card-content white-text center">
												<img src="{%  static 'media/univer.svg' %}" width="120" alt="">
													<span class="card-title">Университеты</span>
												</div>
											</div>
										</div>
										<div class="col m3 s12">
											<div class="card card-banner-color">
												<div class="card-content white-text center">
													<img src="{%  static 'media/doctor.svg' %}" width="120" alt="">
														<span class="card-title">Профессии</span>
													</div>
												</div>
											</div>
											<div class="col m3 s12">
												<div class="card card-banner-color">
													<div class="card-content white-text center">
														<img src="{%  static 'media/test.svg' %}" width="120" alt="">
															<span class="card-title">Тесты</span>
														</div>
													</div>
												</div>
												<div class="col m3 s12">
													<div class="card card-banner-color">
														<div class="card-content white-text center">
															<img src="{%  static 'media/forum.svg' %}" width="120" alt="">
																<span class="card-title">Форум</span>
															</div>
														</div>
													</div>
												</div>
											</main>
										</div>
									</div>
								</section>
								<div class="container ">
									<div class="section ">
										<!--   Icon Section   -->
										<div class="row ">
											<div class="col s12 m4 ">
												<div class="icon-block ">
													<h2 class="center brown-text ">
														<i class="material-icons ">flash_on</i>
													</h2>
													<h5 class="center ">Профессии</h5>
													<p class="light ">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
												</div>
											</div>
											<div class="col s12 m4 ">
												<div class="icon-block ">
													<h2 class="center brown-text ">
														<i class="material-icons ">group</i>
													</h2>
													<h5 class="center ">Вузы </h5>
													<p class="light ">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across
                        all platforms allow for a more unified user experience.</p>
												</div>
											</div>
											<div class="col s12 m4 ">
												<div class="icon-block ">
													<h2 class="center brown-text ">
														<i class="material-icons ">settings</i>
													</h2>
													<h5 class="center ">и многое другое</h5>
													<p class="light ">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<footer class="page-footer black lighten-2">
									<div class="container ">
										<div class="row ">
											<div class="col l6 s12 ">
												<h5 class="white-text ">О проекте</h5>
												<p class="grey-text text-lighten-4 ">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
											</div>
											<div class="col l3 s12 ">
												<h5 class="white-text ">Settings</h5>
												<ul>
													<li>
														<a class="white-text " href="#! ">Link 1</a>
													</li>
													<li>
														<a class="white-text " href="#! ">Link 2</a>
													</li>
													<li>
														<a class="white-text " href="#! ">Link 3</a>
													</li>
													<li>
														<a class="white-text " href="#! ">Link 4</a>
													</li>
												</ul>
											</div>
											<div class="col l3 s12 ">
												<h5 class="white-text ">Connect</h5>
												<ul>
													<li>
														<a class="white-text " href="#! ">Link 1</a>
													</li>
													<li>
														<a class="white-text " href="#! ">Link 2</a>
													</li>
													<li>
														<a class="white-text " href="#! ">Link 3</a>
													</li>
													<li>
														<a class="white-text " href="#! ">Link 4</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="footer-copyright ">
										<div class="container ">
            Сделано командой КудаДальше &copy;
										</a>
									</div>
								</div>
							</footer>
							<div id="modal1" class="modal grey lighten-2">
								<div class="modal-content ">
									<h4 class="center display-1">Меню выбора</h4>
									<div class="row">
										<a href="/university/">
											<div class="col m4 s12">
												<div class="card-panel blue lighten-2">
													<h4 class="display-4 center white-text">Университеты</h4>
												</div>
											</div>
										</a>
										<a href="/profession/">
											<div class="col m4 s12">
												<div class="card-panel blue lighten-2">
													<h4 class="display-4 center white-text">Профессии</h4>
												</div>
											</div>
										</a>
										<a href="/tests/">
											<div class="col m4 s12">
												<div class="card-panel blue lighten-2">
													<h4 class="display-4 center white-text">Тесты</h4>
												</div>
											</div>
										</a>
										<a href="/calc/">
											<div class="col m4 s12">
												<div class="card-panel blue lighten-2">
													<h4 class="display-4 center white-text">Калькулятор ЕГЭ</h4>
												</div>
											</div>
										</a>
										<a href="http://example.com">
											<div class="col m4 s12">
												<div class="card-panel blue lighten-2">
													<h4 class="display-4  white-text center">Форум</h4>
												</div>
											</div>
										</a>
										<a href="/parents">
											<div class="col m4 s12">
												<div class="card-panel blue lighten-2">
													<h4 class="display-4 white-text center">Для родителей</h4>
												</div>
											</div>
										</a>
									</div>
								</div>
								<div class="modal-footer">
									<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Закрыть</a>
								</div>
							</div>
							<script></script>
{% endblock %}