<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Parallax Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

    <section class="index" style="background: teal url('media/arhitecture.jpg');">
        <div id="index-banner" class="parallax-container">
            <div class="row">
                <div class="col s12 m10">
                    <a href="#!" class="breadcrumb">Главная</a>
                    <a href="#!" class="breadcrumb">Образовательные программы</a>
                    <a href="#!" class="breadcrumb">Архитектура</a>
                </div>
                <div class="col s12 m2">
                    <a href="#!" class="white-text display-5">Куда Дальше</a>
                </div>
            </div>
            <div class="section no-pad-bot">
                <div class="container">
                    <br><br>
                    <h1 class="header center white-text">Архитектура</h1>
                    <div class="row center">
                        <h5 class="col s12 white-text">Код программы: 07.00.00 </h5>
                    </div>


                    <br><br>

                </div>
            </div>
        </div>
    </section>
    <section class="grey lighten-3">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5 class=" display-5">Архитекту́ра, или зо́дчество[1] — искусство и наука строить, проектировать здания и сооружения (включая их комплексы)[2][3], а также сама совокупность зданий и сооружений, создающих пространственную среду для жизни и деятельности человека[4]</h5>
                </div>
            </div>
        </div>
    </section>






    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js "></script>
    <script src="js/materialize.js "></script>
    <script src="js/init.js "></script>

</body>

</html>